.weather-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    h3{
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
}

.weather-list{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.weather-item{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 1rem;
    padding: 1rem;
}

.weather-day{
    font-size: 1.5rem;
    font-weight: 500;
}

.weather-img{
    width: 65px;
}

.weather-desc{
    font-size: 1.2rem;
}